/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* Generics */

body{
    background-color: grey;
}

h1{
    display: inline;
    font-size: 300%;
    font-weight: 800;
    vertical-align: middle;
}




/* Header */

#title{
    height: 91px;
    background-color: white;
    border-top: 5px solid black;
    margin-bottom: 2%;
}


#logo{
    height: 62px;
    vertical-align: middle;
    margin: 13px 0 13px 24px;
}


/* Add form button  */

#form-add-button{
    width: 950px;
    margin: auto;
    line-height: 60px;
    height: 60px;
    padding-left: 35px;
    border-radius: 4px 4px 0px 0px;
    background-color: white;  
}

.form-button{
    border-radius: 9px;
    padding: 8px 11px;
    font-size: 107%;
    border: 1px solid grey;
    color: grey;
    cursor: pointer;
}


/* Utilities */

.container{
    width: 950px;
    margin: 0 auto;
    background: white;
}

.selected-button{
    background-color: rgb(30, 144, 255);
    border-style: none;
    color: white;
}
    
