/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* Generics */

body{
    background-color: grey;
}

h1{
    display: inline;
    font-size: 310%;
    font-weight: 800;
    vertical-align: middle;
}

h2{
    font-size: 120%;
    padding-bottom: 3%;
}

ul{
    list-style-type: none;
}

li{
    margin-left: 6px;
    margin-bottom: 25px;
}




/* Utilities */

.container{
    width: 770px;
    height: 550px;
    margin: 0 auto;
    background: white;
    margin-top: 2px;
    border-radius: 0 0 4px 4px;
}

.selected-button{
    background-color: rgb(30, 144, 255);
    border-style: none;
    color: white;
}

.unselected-button{
    background-color: white;
    color: grey;
    border: 1px solid grey;
}
    

.special-character{
    font-size: 50%;
    padding: 5px;
    vertical-align: middle;
}


.check-character{
    display: inline-block;
    color: green;
    border: 1px solid green;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 15.4px;
    padding: 0px 2px;
    font-size: 70%;
    margin-right: 6px;
}

.cross-character{
    display: inline-block;
    color: red;
    border: 1px solid red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 13.4px;
    padding: 0px 2px;
    font-size: 70%;
    margin-right: 6px;
}

.label{
   border-radius: 10px;
   color: white;
   font-size: 80%;
   padding: 5px;
   margin-left: 5px; 
}  

.editorial{
    background-color: rgb(69, 171, 234);
}

.q1-goals{
    background-color: rgb(156, 114, 228);
}

.recruiting{
    background-color: rgb(100, 192, 169);
}

.website{
    background-color: rgb(216, 99, 161);
}

.mobile{
    background-color: rgb(242, 158, 51);
}

.sales{
   background-color: rgb(176, 201, 38); 
}






/* Header */

#title{
    height: 76px;
    background-color: white;
    border-top: 5px solid black;
    margin-bottom: 27px;
}


#logo{
    height: 50px;
    vertical-align: middle;
    margin: 13px 0 13px 24px;
}




/* Add form button  */

#form-add-button{
    width: 770px;
    margin: auto;
    line-height: 60px;
    height: 60px;
    padding-left: 35px;
    border-radius: 4px 4px 0px 0px;
    background-color: white;  
}

.form-button{
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 105%;
    cursor: pointer;
}




/* To do list */

.to-do-list{
    padding-left: 3%;
    padding-top: 3%;
}

